@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --custom-color: rgb(7, 6, 6);
  --padding: 15px;
  --medium-font-size: 1.2em;
  --big-font-size: 2.5em;
  --input-padding: 150px, 150px;
  --border-radius: 50px;
  --margin-top: 20px
  --margin-bottom: 20px;
  --border: 1px solid rgb(197, 212, 221);
  --misc-color: steelblue;

}
.sty{
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  /* background-image: url(img/umberto-FewHpO4VC9Y-unsplash.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position:relative;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}


.container {  
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
/*   border: 2px solid red; */
}


.form-heading {
  text-align: center;
  color: var(--custom-color);
  margin-top: var(--margin-top);
  padding: var(--padding);
}

.form {
  width: 60%;
  margin: 30px auto;
  /* border: 2px solid white; */
}

.form__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 2px solid white; */
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
}

.form__group-label {
  color: var(--custom-color);
  font-size: var(--medium-font-size);
  margin-bottom: var(--margin-bottom);
  
}

input {
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: var(--border);
  /* margin-bottom: var(--margin-bottom); */
  transition: 0.3s;
}

input::placeholder {
  font-size: medium;
}

input:focus{
  outline-color: blue;
}



@media (max-width:840px) {
  .form {
    width: 100%;
   }
  
  }